<html>

<body>
<h1>this is my dynamic filee</h1>
<h1>this is ip address "<%= node['ipaddress']  %>"</h1>
<h1>this is os "<%= node['platform']  %>"</h1>
<h1>this my name "<%= node['myname']  %>"</h1>
</body>
</html>
